.DS_Store

/RELEASES/*.exe

._*.*

tempCodeRunnerFile
tempCodeRunnerFile.cpp

/.vscode

*.pdf

temp*.cpp
2-st term/var_7/Source.cpp

database.txt
testDB.txt

CMakeLists.txt
/build
Backup of *.docx
main.cpp
2-nd term/SDT/var_6/individual task #2/~$dividual task #1.docx
